<h1>Post</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <% if user_signed_in? %>
      <%= post.user.name %><br>
    <% else %>
      <div>Anonymous</div>
    <% end %>
    <%= post.title %> <br>
    <%= post.body %><br><br>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
