<h1>Post</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= post.user.name %> <br>
    <%= post.title %> <br>
    <%= post.body %><br><br>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
